body
{
    background-color: #222222; 
    font-family: Verdana;
    font-size: 20px;
    color: white;
}
 
h1
{
    font-size: 48px;
    color: red !important;
}
 
/* Nieodwiedzony link */
a:link
{
    color: black;
}
 
/* Odwiedzony link */
a:visited
{
    color:black;
}
 
/* Link po najechaniu kursorem */
a:hover
{
    color: blue;
}
